:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #101010;
  background-color: #fdfdfd;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
}

a {
  font-weight: 500;
  color: #111;
  text-decoration: none;
}

a:hover {
  color: #000;
}
